body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:violet;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    background-color: peru;
    border: 5px solid rgb(240, 237, 239);
    border-radius:8px;
}
div > div{
    padding:10px
}
#message{
    width:100%;
    height: 4vh;
}

#messageDiv{
    width:90%;
    text-align:center;
}

#submit{
    font-size:22px;
    padding:7px;
    border:3px solid #fff;
    background-color:violet;
    color:whitesmoke;
    border-radius:5px;
    text-align: center;
    font-weight:bold;
}

p{
    font-size:20px;
    color:white;
    font-weight: 600;
}

.show{
    background-color:red;
    color: rgb(243, 234, 234);
    font-size: 30px;
    font-weight: 600;
    border:2px solid black;
    padding:10px;
}